# https://console.aiven.io/
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
SSL_MODE=require

# Tavily API Key, get it from https://app.tavily.com/home
TAVILY_API_KEY=

# Groq API Key, get it from https://console.groq.com/keys
GROQ_API_KEY=

# Google API Key, get it from https://aistudio.google.com/api-keys
GEMINI_API_KEY=

# Memori API Key, get it from https://app.memorilabs.ai/api-keys
MEMORI_API_KEY=

# Upstash Redis URL, get it from https://console.upstash.com/redis
REDIS_URL=