@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Sleek Dark Mode Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1e2020;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}

/* Custom Firefox Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #1e2020;
}
